
@import "../styles/settings";

.modal-body {
    padding: 2rem;
    border: 2px solid $primary;

    border-radius: 10px;
    &:hover {
      box-shadow: $shadowHover;
    }
      .cont-name{
        display: flex;
        justify-content: space-around;
        align-items: center;
        .label {
          font-weight: bold;
          margin-bottom: 0.5rem;
          
        }
        .input{
          width:30rem ;
          margin-bottom: 1rem;
        }
      }

      .cont-desc{
        display: flex;
        justify-content: space-around;
        align-items: center;
        .label {
          font-weight: bold;
          
       
        }
        .textarea{
          width:30rem ;
          margin-bottom: 1rem;
        }
      }
      .field {
        margin-bottom: 1.5rem;
        .textarea,
        .select {
          width: 100%;
          padding: 0.5rem;
          border: 1px solid #ddd;
          border-radius: 0.25rem;
    
          &:focus {
            outline: none;
            border-color: #3273dc;
          }
        }
    
      
      .checkbox {
        display: flex;
        align-items: center;
  
        input[type="checkbox"] {
          margin-right: 0.5rem;
        }
      }
    }
  
    .is-grouped {
      display: flex;
      justify-content: space-between;
  
      .control {
        width: 48%;
      }
    }
  
    .button.is-link {
      background-color: $light;
      color: $dark;
      border: 1.4px solid $dark;
  
      &:hover {
        border: 1.4px solid $primary;
        color: $primary;
      }
    }
  
    .button.is-link.is-light {
      background-color: $light;
      color: $dark;
      border: 1.4px solid $dark;
  
      &:hover {
        border: 1.4px solid red;
        color: red;
      }
    }
  }
  