@import "./settings";

.main-container-admin {
  display: flex;
  height: 100vh;

  .left-container {
    background-color: $secundary;
    border: solid black 1px;
    width: 20%;

    .left-title {
      justify-content: space-between;
      align-items: center;
      display: flex;
      flex-direction: column;
      gap: 15em;

      h3 {
        color: $light;
      }
    }
  }

  .rg-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
  }

  .rgd-container {
    display: flex;
    justify-content: center;
    width: 100%;

    .txt-part {
      width: 80%;
    }

    .notification-part {
      width: 5%;
      margin-top: 1em;
    }

    .user-part {
      width: 15%;
      display: flex;
      justify-content: space-around;
      img {
        margin-top: 0.5em;
        height: 60%;
      }
    }
  }
}
